:root{
    --fuentePrincipal: 'Staatliches', cursive;
    --fuenteSecundaria: Arial, Helvetica, sans-serif;

    /* COLORES */
    --primario: #9c27b0;
    --primarioOscuro: #89119D;
    --secundario: #FFCE00;
    --secundarioOscuro: rgb(233,287,2);
    --blanco: #fff;
    --negro: #000;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:after, *:before{
    box-sizing: inherit;
}
/* Globales */

body{
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5rem;
}

p {
    font-size: 1.8rem;
    font-family: var(--fuenteSecundaria);
    color: var(--blanco);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.contendor {
    max-width: 120rem;
    margin: 0 auto;
}

h1, h2, h3 {
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrincipal);
}

h1 {font-size: 4rem;}
h2 {font-size: 3.2rem;}
h3 {font-size: 2.4rem ;}

/* Utilidades */

/* HEADER */
.header{
    display: flex;
    justify-content: center;
}

.header__logo{
    margin: 3rem 0;
}

/* NAVEGACION */
.navegacion{
    background-color: var(--primarioOscuro);
    padding: 2rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.navegacion__enlace{
    color: var(--blanco);
    font-family: var(--fuentePrincipal);
    font-size: 3rem;
}

.navegacion__enlace--activo,
.navegacion__enlace:hover{
    color: var(--secundario);
}

/* MAIN INFORMATION */

/* FOOTER */
.footer{
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.footer__texto{
    font-family: var(--fuentePrincipal);
    font-size: 2.2rem;
    color: var(--blanco);
}